@property --intro--color--fade {
  initial-value: #b19cd8;
  inherits: false;
  syntax: '<color>';
}

// @property --intro--color--fade-h {
//   initial-value: 261;
//   inherits: false;
//   syntax: '<number>';
// }

// @property --intro--color--fade-s {
//   initial-value: 43%;
//   inherits: false;
//   syntax: '<percentage>';
// }

// @property --intro--color--fade-l {
//   initial-value: 73%;
//   inherits: false;
//   syntax: '<percentage>';
// }

:root {
  --intro--color--purple-400: #b19cd8;
  --intro--color--cyan-400: #87dbff;
  --intro--color--green-400: #4fd4ae;
  --intro--color--yellow-400: #fdd45b;
  --intro--color--red-400: #e86a58;

  // --intro--color--purple-h: 261;
  // --intro--color--purple-s: 43%;
  // --intro--color--purple-l: 73%;
  // --intro--color--cyan-h: 198;
  // --intro--color--cyan-s: 100%;
  // --intro--color--cyan-l: 76%;
  // --intro--color--green-h: 163;
  // --intro--color--green-s: 61%;
  // --intro--color--green-l: 57%;
  // --intro--color--yellow-h: 45;
  // --intro--color--yellow-s: 98%;
  // --intro--color--yellow-l: 67%;
  // --intro--color--red-h: 8;
  // --intro--color--red-s: 76%;
  // --intro--color--red-l: 63%;
}
