@layer outro {
  div:is([links]) {
    display: flex;
    gap: 1.5rem;
    flex-flow: row nowrap;
    margin-block-start: 0.5rem;

    figure {
      flex-grow: 1;
      flex-shrink: 0;

      img {
        width: 13rem;
        aspect-ratio: 1;
      }
    }
  }
}
