@layer registered-comparison {
  [registered-comparison] {
    display: flex;
    gap: 1rem;
    place-items: center;
    place-content: center;

    .registered {
      --unregistered--color: #202020;
      --registered--background-color: #c0ffee;

      color: var(--registered--color);
      background-color: var(--registered--background-color);
      transition: --registered--color 1s ease-in-out, --registered--background-color 1s ease-in-out;

      &:hover,
      &:focus {
        --registered--color: #f2f2f2;
        --registered--background-color: #b4d455;
      }
    }

    .unregistered {
      --unregistered--color: #202020;
      --unregistered--background-color: #c0ffee;

      color: var(--unregistered--color);
      background-color: var(--unregistered--background-color);
      transition: --unregistered--color 1s ease-in-out, --unregistered--background-color 1s ease-in-out;

      &:hover,
      &:focus {
        --unregistered--background-color: #b4d455;
        --unregistered--color: #c0ffee;
      }
    }

    button {
      appearance: none;

      padding: 1rem;
      border: 1px solid black;
      border-radius: 0.5rem;

      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
