@layer typography {
  :root {
    --r-main-font-size: 2.5em;
    --r-heading-text-transform: none;
    --r-link-color: var(--color--yellow-400);
  }

  html {
    font-size: 10px;
  }

  body {
    font-size: 1.6rem;
  }

  mark,
  .highlight-color {
    color: var(--color--yellow-400);
    background: none;
  }

  mark {
    display: inline-block;
    vertical-align: baseline;
  }

  blockquote {
    text-wrap: balance;
  }

  section > :where(h1, h2, h3, h4, h5, h6, p, blockquote, q) {
    text-wrap: balance;
  }
}
