@property --intro--color--fade {
  initial-value: #b19cd8;
  inherits: false;
  syntax: '<color>';
}

/* // @property --intro--color--fade-h {
//   initial-value: 261;
//   inherits: false;
//   syntax: '<number>';
// }

// @property --intro--color--fade-s {
//   initial-value: 43%;
//   inherits: false;
//   syntax: '<percentage>';
// }

// @property --intro--color--fade-l {
//   initial-value: 73%;
//   inherits: false;
//   syntax: '<percentage>';
// } */
