@keyframes intro {
  0% {
    --intro--color--fade: var(--intro--color--purple-400);
  }
  25% {
    --intro--color--fade: var(--intro--color--cyan-400);
  }
  50% {
    --intro--color--fade: var(--intro--color--green-400);
  }
  75% {
    --intro--color--fade: var(--intro--color--yellow-400);
  }
  100% {
    --intro--color--fade: var(--intro--color--red-400);
  }
}

// @keyframes introHSL {
//   0% {
//     --intro--color--fade-h: var(--intro--color--purple-h);
//     --intro--color--fade-s: var(--intro--color--purple-s);
//     --intro--color--fade-l: var(--intro--color--purple-l);
//   }
//   25% {
//     --intro--color--fade-h: var(--intro--color--cyan-h);
//     --intro--color--fade-s: var(--intro--color--cyan-s);
//     --intro--color--fade-l: var(--intro--color--cyan-l);
//   }
//   50% {
//     --intro--color--fade-h: var(--intro--color--green-h);
//     --intro--color--fade-s: var(--intro--color--green-s);
//     --intro--color--fade-l: var(--intro--color--green-l);
//   }
//   75% {
//     --intro--color--fade-h: var(--intro--color--yellow-h);
//     --intro--color--fade-s: var(--intro--color--yellow-s);
//     --intro--color--fade-l: var(--intro--color--yellow-l);
//   }
//   100% {
//     --intro--color--fade-h: var(--intro--color--red-h);
//     --intro--color--fade-s: var(--intro--color--red-s);
//     --intro--color--fade-l: var(--intro--color--red-l);
//   }
// }
